@import '~bootstrap/scss/bootstrap';

a {
    font-weight: normal;
    margin-right: 10px;
}

a.active {
    font-weight: bold;
    color: blue;
}

li {
    list-style: none;
    margin: 0, 5px;
}

footer {
    height: 100px;
    background-color: gray;
}

.jumbo {
    background-image: url('../img/jumbotron.jpg');
    height: 400px;
}